
nav {
    background:#312929;
    padding:10px;
    margin-bottom:20px;
    justify-content: center;
    display: flex;
    gap: 100px;
}
nav a {
    color:white;
    text-decoration:none;
    margin:0 10px;
}
nav a:hover{
    text-decoration:none;
    color: #5d86b4;
}
.navbar {
    background-color: #333;
    padding: 1rem;
    position: relative;
}

.menu-toggle {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    #menu-toggle:checked ~ .nav-links {
    display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #333;
        padding: 1rem;
    }

    .navbar:hover .nav-links,
    .navbar:focus-within .nav-links {
        display: flex;
    }
}
